.Main {
    width: 100%;
    margin: 0 auto;
    flex: 1;

    &-cars_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 1.5rem;
        row-gap: 2.75rem;
        padding: 4.75rem 0 6.25rem 0;
    }
}

@media (min-width: 640px) {
    .Main {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .Main {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .Main {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .Main {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .Main {
        max-width: 1536px;
    }
}

@media screen and (max-width: 640px) {
    .Main {
        padding: 0 1rem;
    }

    .Main-title {
        font-size: 2.25rem;
    }
}