.Filterandsort-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(204, 204, 204, 0.4);
    padding-bottom: 0.5rem;

    &-responsive_filter_section {
        display: none;
    }

    &-filter_section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.85rem;

        &-subtitle {
            color: #373737;
            font-size: 0.875rem;
            font-weight: 600;
            line-height: 0.875rem;
            letter-spacing: 0.005rem;
        }

        &-active_button {
            all: unset;
            background-color: #F7F7F7;
            border-radius: 1.125rem;
            font-size: 0.875rem;
            font-family: 400;
            line-height: 0.875rem;
            letter-spacing: 0.005rem;
            padding: 0.5rem 1.125rem;
        }

        &-inactive_button {
            all: unset;
            border-radius: 1.125rem;
            font-size: 0.875rem;
            font-family: 400;
            line-height: 0.875rem;
            letter-spacing: 0.005rem;
            padding: 0.5rem 1.125rem;
        }
    }

    &-sort_section {
        position: relative;
        
        &-dropdown_btn {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: #373737;
            font-size: 0.85rem;
            font-weight: 600;
            line-height: 0.85rem;
            letter-spacing: 0.005rem;
        }

        &-responsive_options_list {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 1rem;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 0.5rem;
            box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.15);
            right: left;
            z-index: 10;
            min-width: max-content;
            padding: 0;

            &-active_button {
                all: unset;
                padding: 1rem;
                border-width: 0 0 1px 0;
                border-color: #D8D8D8;
                border-style: solid;
                background-color: rgba(209, 214, 214, 0.2);
            }

            &-inactive_button {
                all: unset;
                padding: 1rem;
                border-width: 0 0 1px 0;
                border-color: #D8D8D8;
                border-style: solid;
            }
        }

        &-options_list {
            display: flex;
            flex-direction: column;
            position: absolute;
            margin-top: 1rem;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 0.5rem;
            box-shadow: 2px 8px 20px 0px rgba(0, 0, 0, 0.15);
            right: 0;
            z-index: 10;
            min-width: max-content;
            padding: 0;

            &-active_button {
                all: unset;
                padding: 1rem;
                border-width: 0 0 1px 0;
                border-color: #D8D8D8;
                border-style: solid;
                background-color: rgba(209, 214, 214, 0.2);
            }

            &-inactive_button {
                all: unset;
                padding: 1rem;
                border-width: 0 0 1px 0;
                border-color: #D8D8D8;
                border-style: solid;
            }
        }
    }
}

@media (min-width: 640px) {
    .Filterandsort-wrapper {
        max-width: 640px;
    }
}
@media (min-width: 768px) {
    .Filterandsort-wrapper {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .Filterandsort-wrapper {
        max-width: 1024px;
    }
}
@media (min-width: 1280px) {
    .Filterandsort-wrapper {
        max-width: 1280px;
    }
}
@media (min-width: 1536px) {
    .Filterandsort-wrapper {
        max-width: 1536px;
    }
}

@media screen and (max-width: 1024px) {
    .Filterandsort-wrapper-responsive_filter_section {
        display: block;
    }

    .Filterandsort-wrapper-filter_section {
        display: none;
    }
}