.Button-container {
    border-radius: 2.5rem;
    background-color: #191919;
    padding: 0.25rem 1.75rem 0.4rem;
    text-decoration: none;
    border: 2px solid #191919;

    &-text {
        color: #FFFFFF;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 1.4rem;
        letter-spacing: 0.005rem;
    }
}